.time-entry {
    position: relative;
    height: 100%;
    width: 100%;
    background: #fff;

    .header {
        background: #1890ff;
        color: #fff;
        height: 45px;
        line-height: 45px;
        display: flex;
        justify-content: space-between;

        .buttons{
            margin: 0 5px;
        }
    }
    .content {
        padding: 5px;
        margin: 5px 0;
        border: 1px solid #ccc;

        .title {
            font-weight: 500;
            display: flex;
            justify-content: center;
        }

        .emptab-container {
            border: 1px solid #ccc;
        }

        .task-container {
            position: relative;
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            flex-direction: column;
            padding: 10px 0;

            .inputs {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .date-con {
                    margin: 10px 0;
    
                    .date-label {
                        margin-right: 10px;
                    }
                }
    
                .emp-con {
                    margin: 10px 0;
    
                    .emp-label {
                        margin-right: 10px;
                    }
                }
            }

            
            .remarks {
                margin-top: 10px;
            }
            
            .btns{
                position: relative;
                top: 10px;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            
        }
    }
}