.tabs {
    margin-top: 25px;
    padding: 5px;
    box-shadow: 1px 0px 1px 0px;

    .ant-tabs-nav {
        width: 100%;

        .ant-tabs-tab {
            width: 45%;
        }
    }

    .res-alloc {
        padding: 10px;
    
        .weightage {
            margin: 40px 0 0 0;
            display: flex;
            flex-direction: row;
        }
    
        .label {
            width: 39%;
            align-self: flex-start;
            margin: auto 0;
        }
    }

    .prog {
        padding: 10px;
    }
}

