
.bgt-act {
    display: flex;
    flex-direction: row-reverse;
}
.rep {
    position: relative;
    height: 100%;
    width: 100%;
    background: #fff;

    .hdr {
        height: 40px;
        background: #1890ff;
        color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 4px;
    }

    .met {
        height: 32px;
        line-height: 32px;
        margin: 0 7px;
        padding: 0px 5px;
        border-radius: 5px;
    }

    .con {
        margin: 5px 0;
        border: 1px solid #ccc;

        .cht-con {
            display: flex;
            width: 100%;
            justify-content: center;
            height: 300px;

            .cht {
                width: 70%;
                height: 100%;

            }

            .prj-dta {
                display: flex;
                width: 30%;
                flex-direction: column;
                justify-content: space-evenly;
                height:250px;
                position: relative;
                top: 10px;

                .prj-val {
                    margin: 5px;
                    padding: 5px;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                }
            }
        }
    }
}

.cls-frm {
    position: relative;
    top: 20px;
    padding-bottom: 5px;
}

//Imported Chart Legend Plugin styles
.ct-legend {
    position: relative;
    z-index: 10;
    list-style: none;
    text-align: center;
}
.ct-legend li {
    position: relative;
    padding-left: 23px;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
    display: inline-block;
}
.ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 5px;
    top: 5px;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
}
.ct-legend li.inactive:before {
    background: transparent;
}
.ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
}
.ct-legend.ct-legend-inside li{
    display: block;
    margin: 0;
}
.ct-legend .ct-series-0:before {
    background-color: red;
    border-color: red;
}
.ct-legend .ct-series-1:before {
    background-color: green;
    border-color: green;
}
.ct-legend .ct-series-2:before {
    background-color: #f4c63d;
    border-color: #f4c63d;
}
.ct-legend .ct-series-3:before {
    background-color: #d17905;
    border-color: #d17905;
}
.ct-legend .ct-series-4:before {
    background-color: #453d3f;
    border-color: #453d3f;
}

//Imported Chartist styles
.ct-series-a .ct-bar {
    stroke: red;
  }

.ct-series-b .ct-bar {
    stroke: green;
  }